.nav-wrapper{
    background: rgba(156,33,58,1);
background: -moz-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,33,58,1)), color-stop(100%, rgba(179,7,139,1)));
background: -webkit-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: -o-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: -ms-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: linear-gradient(to right, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c213a', endColorstr='#b3078b', GradientType=1 );
}


@import url('https://fonts.googleapis.com/css?family=Lobster|Satisfy');

.brand-logo{
   font-family: 'Satisfy', cursive;
}

img{
    max-width: 100%;
    height:auto;
}

.page-footer{
     background: rgba(156,33,58,1);
background: -moz-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,33,58,1)), color-stop(100%, rgba(179,7,139,1)));
background: -webkit-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: -o-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: -ms-linear-gradient(left, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
background: linear-gradient(to right, rgba(156,33,58,1) 0%, rgba(179,7,139,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c213a', endColorstr='#b3078b', GradientType=1 );  
}


